<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Connect - Home</title>
    <style>
      .showani{
        position: absolute;
        top: .2vw;
        left: 0;
        width: 2vw;
        height: 2vw;
        border-radius: 10vw;
        background-color: black;
        animation-name: sani;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        cursor: pointer;
      }
      @keyframes sani {
        50%{
          left: 3.5vw;
          background-color: rgb(87, 78, 78);
        }
      }
      /* this is how we can hide scrollbar */
      .sugp{
        /* i have this display:flex here because when i use it as bootstrap class in div element , then js on this element does not works */
        display: flex; 
        overflow-x: scroll;
      }
      .sugp::-webkit-scrollbar{
        display: none;
      }
      .peopstories{
        overflow-x: scroll;
      }
      .peopstories::-webkit-scrollbar{
        display: none;
      }
      .cnreq{
        display: flex;
        flex-direction: column;
        border: 3px solid rgb(144, 160, 144);
        height: 23vw;
        margin-top: 1vw;
        overflow: scroll;
      }
      .cnreq::-webkit-scrollbar{
        display: none;
      }
      .cnreqname{
        height: 4.5vw;
        overflow: scroll;
        font-size: 1.5vw;
        font-weight: bolder;
      }
      .cnreqname::-webkit-scrollbar{
        display: none;
      }
      .cnreqbio{
        height: 9vw;
        overflow: scroll;
      }
      .cnreqbio::-webkit-scrollbar{
        display: none;
      }
      .cncontainer{
        height: 31.8vw;
        overflow: scroll;
      }
      .cncontainer::-webkit-scrollbar{
        display: none;
      }
      .cnname{
        margin-left: 1.3vw;
        font-size: 1.3vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 1.4vw;
        width: 20vw;
        height: 3vw;
        overflow: scroll;
      }
      .cnname::-webkit-scrollbar{
        display: none;
      }
      .pendcncontainer{
        height: 31.8vw;
        overflow: scroll;
      }
      .pendcncontainer::-webkit-scrollbar{
        display: none;
      }
      .pendcnname{
        margin-left: 1.3vw;
        font-size: 1.3vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 1.4vw;
        width: 20vw;
        height: 3vw;
        overflow: scroll;
      }
      .pendcnname::-webkit-scrollbar{
        display: none;
      }
    </style>

  </head>
  <body>

    <div class="d-flex">

      <div style="margin-left: 2vw;margin-top: 1vw;width:30vw;">
        {% if user.profile_pic %}
        <img src="{{user.profile_pic.url}}" alt="Error in loading image!!!" style="height: 15vw;width: 15vw;border-radius: 20vw;">
        {% else %}
        <div style="height: 15vw;width: 15vw;background-color: black;border-radius: 30vw;">
        </div>
        {% endif %}
        <div style="margin-top: 1vw; font-size: 2.5vw;" >{{user.name}}</div>
        <div style="font-size: 1.5vw;">{{user.email}}</div>
        <div style="font-size: 1vw;">{{user.bio}}</div>

        <div class="d-flex justify-content-between">

          <a href="/posts" style="text-decoration: none;color: black;"><div>
            <div style="text-align: center;font-size: 2vw;">{{noofposts}}</div>
            <div style="font-weight: bolder;font-size: 1.2vw;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(69, 69, 238);">Posts</div>
            </div>
          </a>

          <div onclick="connections()" style="cursor: pointer;">
            <div style="text-align: center;font-size: 2vw;">{{noofconnections}}</div>
            <div style="font-weight: bolder;font-size: 1.2vw;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(50, 216, 50);">Connections</div>
          </div>

          <div onclick="pendingconnections()" style="cursor: pointer;">
            <div style="text-align: center;font-size: 2vw;">{{noofpendingconnections}}</div>
            <div style="font-weight: bolder;font-size: 1.2vw;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(148, 148, 144);">Pending Connections</div>
          </div>
        </div>

        {% if connectionrequests %}
        <div class="cnreq">

          <div style="text-align: center;font-size: 2vw;font-weight: bolder;color: rgb(24, 177, 24);text-decoration: underline;margin-bottom:1vw;">Connection Requests</div>

          {% for requests in connectionrequests %}
            <div class="d-flex flex-column" style="margin: .2vw;border-bottom: .5px solid rgb(104, 100, 100);">

              <div class="d-flex" style="height:7vw;padding: .3vw;">
                {% if requests.profile_pic %}
                <img src="{{requests.profile_pic.url}}" alt="" style="height: 5vw;width: 5vw;border-radius: 10vw;">
                {% else %}
                <div style="height: 5vw;width: 5vw;background-color: black;border-radius: 10vw;"></div>
                {% endif %}
                <div class="d-flex flex-column" style="margin-left: 1.5vw;width: 22vw;">
                <div class="cnreqname">{{requests.name}}</div>
                <div class="cnreqbio">{{requests.bio}}</div>
                </div>
              </div>

              <div style="text-align: end;">
                <a href="{% url 'rejectconnectionreq' requests.name %}"><button class="btn btn-danger" style="margin-right: .5vw;margin-bottom: .3vw;margin-top: .2vw;">Ignore</button></a>
                <a href="{% url 'acceptconnectionreq' requests.name %}"><button class="btn btn-success" style="margin-right: .5vw;margin-bottom: .3vw;margin-top: .2vw;">Connect</button></a>
              </div>

            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div style="border: 2px solid black;width: 50vw; margin-left: 1vw;margin-top: 1vw;">

        <div class="text-center text-white" style="background-color: rgb(62, 216, 80);height: 2vw;font-size: 1.4vw;">Connect</div>

        <div class="d-flex peopstories">

          <div class="d-flex flex-column align-items-center" style="margin: .2vw; width: 6vw;">
          <div style="height: 5vw;width: 5vw;background-color: black;border-radius: 20vw;cursor: pointer;"></div>
          <div class="text-center">Sia</div>
          </div>

          <div class="d-flex flex-column align-items-center" style=" margin: .2vw;width: 6vw;">
          <div style="height: 5vw;width: 5vw;background-color: black;border-radius: 20vw;cursor: pointer;"></div>
          <div class="text-center">Sweeny Todd</div>
          </div>
        
          <div class="d-flex flex-column align-items-center" style="margin: .2vw; width: 6vw;">
          <div style="height: 5vw;width: 5vw;background-color: black;border-radius: 20vw;cursor: pointer;"></div>
          <div class="text-center">Will Smith</div>
          </div>

        </div>

        <div style="border: .2px solid black;"></div>

        <div class="btn" id="suggbtn" style="font-size: 1.3vw; margin: .2vw;color: white; background-color: rgb(71, 160, 71);">Suggestions</div>

        <div class="sugp" id="sugg">

          {% for users in usersuggestions %}
          <div class="d-flex flex-column" style="margin: .2vw;width: 8vw;">
            {% if users.profile_pic %}
            <a href="{% url 'showprofile' users.name %}"><img src="{{users.profile_pic.url}}" alt="Unable to load image!!!" style="height:8vw;width:8vw;border-radius:10vw;cursor: pointer;"></a>
            {% else %}
            <a href="{% url 'showprofile' users.name %}"><div style="background-color: black;height: 8vw;width: 8vw;border-radius: 10vw;cursor: pointer;">
            </div></a>
            {% endif %}
            <a href="{% url 'showprofile' users.name %}" style="text-decoration: none;color: black;"><div class="text-center" style="font-size: 1.3vw;font-weight: bold;cursor: pointer;">{{users.name}}</div></a>
            <a href="{% url 'sendconnectionreq' users.name %}"><button class="btn btn-success" style="width: 7.9vw;">Connect</button></a>
          </div>
          {% endfor %}

        </div>

        {% for connection in connectionsposts %}
        {% for post in connection.posts %}   
        <div style="border: 1px solid greenyellow; margin: .5vw;">

          <div class="d-flex">
            {% if connection.connection.profile_pic %}
            <img src="{{connection.connection.profile_pic.url}}" alt="Error!!!" style="height: 3vw;width: 3vw;border-radius: 10vw;margin: .1vw;">
            {% else %}
            <div style="height: 3vw;width: 3vw;border-radius: 10vw;margin: .1vw;background-color:black;"></div>
            {% endif %}
            <div style="margin-left: 1vw;">{{connection.connection.name}}</div>
          </div>

          <div style="border: .2px solid black;"></div>

          <div class="d-flex justify-content-center" style="background-color: rgb(219 219 219);"> 
          <img src="{{post}}" alt="Error!!!" style="height: 30vw;max-width: 48.5vw;">
          </div>

          <div style="margin-left: .2vw;">
            Like
          </div>

        </div>
        {% endfor %}
        {% endfor %}

        {% for userpost in userposts %}
        <div style="border: 1px solid greenyellow; margin: .5vw;">

          <div class="d-flex">
            {% if user.profile_pic %}
            <img src="{{user.profile_pic.url}}" alt="Error!!!" style="height: 3vw;width: 3vw;border-radius: 10vw;margin: .1vw;">
            {% else %}
            <div style="height: 3vw;width: 3vw;border-radius: 10vw;margin: .1vw;background-color:black;"></div>
            {% endif %}
            <div style="margin-left: 1vw;">{{user.name}}</div>
          </div>

          <div style="border: .2px solid black;"></div>

          <div class="d-flex justify-content-center" style="background-color: rgb(219 219 219);"> 
            <img src="{{userpost}}" alt="Error!!!" style="height: 30vw;max-width: 48.5vw;">
          </div>
          
          <div style="margin-left: .2vw;">
            Like
          </div>

        </div>
        {% endfor %}
        
      </div>

    </div>

    <div class="showani"  id="show"></div>
    <div style="width: 20vw;height: 100vh;background-color: rgb(35, 41, 36);position: absolute;top: 0;left: -20vw; transition: all 1s;" id="sidebar">

      <div id="hide" class="text-end" style="cursor: pointer; font-size: 4vw;color: white;transform: rotate(-13deg);">+</div>

      <div class="d-flex flex-column" style="margin-left:1vw">
      {% if user.profile_pic %}
      <img src="{{user.profile_pic.url}}" alt="Error in loading image!!!" style="height: 15vw;width: 15vw;border-radius: 20vw;">
      {% else %}
      <div style="height:15vw;width:15vw;background-color: white;border-radius: 20vw;margin-bottom: 1vw;"></div>
      {% endif %}
      <div class="text-white" style="font-size: 2vw;">{{user.name}}</div>
      <div class="text-white" style="font-size: 1.3vw;">{{user.email}}</div>
      </div>

      <div style="border: .2px solid white; margin: .2vw .5vw;"></div>

      <a href="/profile" style="text-decoration: none;color: white;"><div class="d-flex" style="background-color: rgb(145, 148, 150);height: 3vw;width: 17.9vw;margin: 1vw 1vw;cursor: pointer;">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/test-account.png" height="37vw" alt="" style="margin-top: .3vw; margin-left: .5vw;"/>
        <div class="text-center text-white" style="font-size: 1.4vw;margin-top: .4vw;width: 20vw;">Profile</div>
      </div>
      </a>

      <a href="/changepassword" style="text-decoration: none;color: white;"><div class="d-flex" style="background-color: rgb(145, 148, 150);height: 3vw;width: 17.9vw;margin: 1vw 1vw;">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/password1.png" alt="" style="margin-top: .3vw;margin-left: .5vw;" height="37vw" />
        <div class="text-center text-white" style="font-size: 1.2vw;margin-top: .5vw;width: 20vw;">Change Password</div>
      </div>
      </a> 

      <a href="/posts" style="text-decoration: none;color: white;"><div class="d-flex" style="background-color: rgb(145, 148, 150);height: 3vw;width: 17.9vw;margin: 1vw 1vw;">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/image--v1.png" alt="" style="margin-top: .3vw;margin-left: .5vw;" height="37vw"/>
        <div class="text-center text-white" style="font-size: 1.2vw;margin-top: .5vw;width: 20vw;">My Posts</div>
      </div>
      </a> 

      <div id="showdelacc" class="d-flex" style="background-color: rgb(145, 148, 150);height: 3vw;width: 17.9vw;margin: 1vw 1vw;cursor: pointer;">
        <img src="https://img.icons8.com/ios-glyphs/50/000000/filled-trash.png" alt="" style="margin-top: .3vw;margin-left: .4vw;" height="37vw"/>
        <div class="text-center text-white" style="font-size: 1.2vw;margin-top: .5vw;width: 20vw;">Delete Account</div>
      </div>

      <a href="/logout" style="text-decoration: none;color: white;"><div class="d-flex" style="background-color: rgb(145, 148, 150);height: 3vw;width: 17.9vw;margin: 1vw 1vw;">
        <img src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" alt="" style="margin-top: .3vw;margin-left: .5vw;" height="33vw"/>
        <div class="text-center text-white" style="font-size: 1.2vw;margin-top: .5vw;width: 20vw;">Logout</div>
        </div>
      </a>
    </div>

    
    <div id="connections" style="display: none;justify-content: center;align-items: center; position: absolute;background-color: rgb(0,0,0,.8); top: 0;height: 100%;width: 100%;">
      <div style="background-color: white; height: 40vw;width: 40vw;border-radius: .3vw;">

        <div onclick="hideconnections()" style="transform: rotate(-182deg);font-size: 3vw;font-weight: bolder;cursor: pointer;">+</div>
        
        <div>
          <input type="text" name="" id="coninp" style="width: 35vw;margin-left: 2.4vw;height: 2.3vw;font-size: 1.2vw;" placeholder="Search">
        </div>

        <div style="border: .5px solid black;margin: .7vw 1vw;"></div>

        <div class="cncontainer">

          {% for connection in connections %}
          <div class="d-flex" style="height: 6vw;padding: .2vw;margin: .4vw 1vw;border-bottom: .5px solid rgb(66, 63, 63);">
            {% if connection.profile_pic %}
            <a href="{% url 'showprofile' connection.name %}"><img src="{{connection.profile_pic.url}}" alt="Error!!!" style="height:5vw;width:5vw;border-radius:10vw;"></a>
            {% else %}
            <a href="{% url 'showprofile' connection.name %}"><div style="background-color: black;height: 5vw;width: 5vw;border-radius: 10vw;"></div></a>
            {% endif %}
            <a href="{% url 'showprofile' connection.name %}" style="text-decoration: none;color: black;cursor: pointer;"><div class="cnname">{{connection.name}}</div></a>

            <a href="{% url 'breakconnection' connection.name %}"><button class="btn btn-danger" style="margin-top: 1.4vw;margin-left: 1vw;">Break Connection</button></a>
          </div>
          {% endfor %}

        </div>

      </div>
    </div>


    <div id="pendingconnections" style="display: none;justify-content: center;align-items: center; position: absolute;background-color: rgb(0,0,0,.8); top: 0;height: 100%;width: 100%;">
      <div style="background-color: white; height: 40vw;width: 40vw;border-radius: .3vw;">

        <div onclick="hidependingconnections()" style="transform: rotate(-182deg);font-size: 3vw;font-weight: bolder;cursor: pointer;">+</div>
        
        <div>
          <input type="text" name="" id="pendinp" style="width: 35vw;margin-left: 2.4vw;height: 2.3vw;font-size: 1.2vw;" placeholder="Search">
        </div>

        <div style="border: .5px solid black;margin: .7vw 1vw;"></div>

        <div class="pendcncontainer">

          {% for connection in pendingconnections %}
          <div class="d-flex" style="height: 6vw;padding: .2vw;margin: .2vw 1.2vw;border-bottom: .5px solid rgb(66, 63, 63);">
            {% if connection.profile_pic %}
            <a href="{% url 'showprofile' connection.name %}"><img src="{{connection.profile_pic.url}}" alt="Error!!!" style="height: 5vw;width: 5vw;border-radius: 10vw;cursor: pointer;"></a>
            {% else %}
            <a href="{% url 'showprofile' connection.name %}"><div style="background-color: black;height: 5vw;width: 5vw;border-radius: 10vw;cursor: pointer;"></div></a>
            {% endif %}
            <a href="{% url 'showprofile' connection.name %}" style="text-decoration: none;color: black;cursor: pointer;"><div class="pendcnname">{{connection.name}}</div></a>

            <a href="{% url 'deletependingconnection' connection.name %}"><button class="btn btn-danger" style="margin-top: 1.4vw;margin-left: 6vw;">Delete</button></a>

          </div>
          {% endfor %}

        </div>

      </div>
    </div>

    
    <div id="deleteaccount" style="background-color: rgb(0, 0, 0,.7);position: absolute;top: 0;height: 100%;width: 100%;display: none;justify-content: center;align-items: center;">
      <div style="background-color: white;height: 13.5vw;width: 30vw;padding: .5vw;border-radius: .5vw;">
        <div style="display: flex; flex-direction: column;">
          
          <div style="display: flex;justify-content: end;">
            <div style="font-size: 1.7vw;font-weight: bolder;margin-right: 5.4vw;">
              Account Deletion...
            </div>
            <div id="hidedelacc" style="font-size: 2vw;transform: rotate(45deg);font-weight: bolder;cursor: pointer;">+</div>
          </div>

          <div style="border-top: .1px solid black;"></div>

          <div style="font-size: 1.2vw;margin: .5vw;">
            Type your Email-address to delete account!!!
          </div>

          <input type="text" name="" id="" style="margin: .5vw;">

          <a href="" style="text-align: end;margin-top: 1.1vw;margin-right: .3vw;"><button class="btn btn-danger">Delete Account</button></a>

        </div>
      </div>
    </div>

    <script>
      // this is how we can prevent windows to scroll
      function topreventscroll(){
        window.onscroll = () =>  window.scroll(0, 0);
      }
      
      function toscroll(){
        window.onscroll = () => window.scroll();
      }


      // connections
      function connections(){
        topreventscroll()
        document.getElementById("connections").style.display = "flex"
      }

      function hideconnections(){
        toscroll()
        document.getElementById("connections").style.display = "none"
      }

      document.getElementById("coninp").addEventListener('input',(e)=>{
        var search = document.getElementById("coninp")
        elems = document.getElementsByClassName("cnname")
        for(var i of elems){
          if(i.innerHTML.includes(search.value)){
            i.parentNode.parentNode.className = "d-flex"
          }
          else{
            i.parentNode.parentNode.className = "d-none"
          }
        }
        if(search.value == null){
          for(let ele of elems){
            ele.parentNode.parentNode.className ="d-flex"
          }
        }
      })


      // pendingconnections
      function pendingconnections(){
        topreventscroll()
        document.getElementById("pendingconnections").style.display = "flex"
      }

      function hidependingconnections(){
        toscroll()
        document.getElementById("pendingconnections").style.display = "none"
      }

      document.getElementById("pendinp").addEventListener('input',(e)=>{
        var search = document.getElementById("pendinp")
        elems = document.getElementsByClassName("pendcnname")
        for(var i of elems){
          if(i.innerHTML.includes(search.value)){
            i.parentNode.parentNode.className = "d-flex"
          }
          else{
            i.parentNode.parentNode.className = "d-none"
          }
        }
        if(search.value == null){
          for(let ele of elems){
            ele.parentNode.parentNode.className ="d-flex"
          }
        }
      })


      // delete account
      document.getElementById("hidedelacc").addEventListener('click',(e)=>{
        toscroll()
        document.getElementById("deleteaccount").style.display = "none"
      })

      document.getElementById("showdelacc").addEventListener('click',(e)=>{
        topreventscroll()
        document.getElementById("deleteaccount").style.display = "flex"
      })


      // sideBar
      document.getElementById("show").addEventListener('click',(e)=>{
        var s = document.getElementById("sidebar");
        s.style.left = 0
      })
      document.getElementById("hide").addEventListener('click',(e)=>{
        var s = document.getElementById("sidebar");
        s.style.left = "-20vw"
      })


      // suggestions
      document.getElementById("suggbtn").addEventListener('click',(e)=>{
        var s = document.getElementById("sugg")
        if(s.style.display=="none"){
          s.style.display = "flex"
          document.getElementById("suggbtn").style.backgroundColor = "rgb(71, 160, 71)"
          document.getElementById("suggbtn").style.color = "white"
        }
        else{
          s.style.display = "none"
          document.getElementById("suggbtn").style.backgroundColor = "#ffc107"
          document.getElementById("suggbtn").style.color = "black"
        }
      })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>